:root {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;

  --color-bg-glass: #fefefef0;
  --color-bg: #fefefe;
  --color-border: #a0b0b0;
  --color-fg: #202020;
  --color-accent: #fa5030;
}

.panel {
  padding: var(--spacing-2);
  background-color: var(--color-bg-glass);
  border-color: var(--color-border);
  border-width: 1px;
  border-style: solid;
  color: var(--color-fg);
  font-family: monospace;
  max-height: 100vh;
  overflow-y: auto;
}

.panel-field {
  display: block;
  margin-bottom: var(--spacing-1);
}

.fixed-left {
  position: fixed;
  left: 0;
  top: 0;
}

.fixed-right {
  position: fixed;
  right: 0;
  top: 0;
}

.button {
  font-family: inherit;
  border-color: var(--color-border);
  border-style: solid;
  border-width: 1px;
  background-color: var(--color-bg);
  color: inherit;
}
.button:focus {
  border-color: var(--color-accent);
  color: var(--color-accent);
  outline: none;
}

.collapse-title {
  display: block;
  width: 100%;
  border: none;
  border-top: 1px solid var(--color-border);
  background: linear-gradient(var(--color-bg), transparent);
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}
